* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;

}

/*.container {*/
/*	height: 100vh;*/
/*	width: 100vw;*/
/*	border: 1px solid;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	flex-direction: column;*/
/*}*/

/* .login-form-container form {
	width: 20%;
	border: 1px solid;
	padding: 10px;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} */

/* .login-form-container form label {
	font-size: large;
}

.login-form-container form label input {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 8px;
	font-size: large;
}

.login-form-container form button {
	margin-top: 10px;
	padding: 10px;
	cursor: pointer;
} */
